@model List<Product>

<div class="center mt-5">
    <form method="GET" action="/search">
        <div class="center">
           <div class="">
              <input class="form-control" type="text" name="query"></input>
              <button type="submit" class="btn btn-primary w-100 mt-2">Search!</button>
           </div>
        </div>
    </form>
    <div class="mt-5">
        @foreach (var product in Model)
       {
          <div class="bg-light p-2 mt-2">
              <a href="@product.Link">@product.Title</a>
          </div>
       }
    </div>
</div>

